page-file {

    ion-header {
        padding: 2rem;
        display: flex;
        justify-content: center;
        ion-title {
            span {
                // text-transform: capitalize;
                display: flex;
                align-content: flex-start;
                left: 0;
                font-size: 34px;
            }
        }

        ion-input {
            font-size: 34px;
            font-weight: 700;
            justify-content: center;
            // text-transform: capitalize;
        }

        button {
            background: transparent;
            ion-icon {
                font-size: 30px;
                right: 0;
            }
        }
    }
    
    ion-content {
        div {
            font-size: 18px;
            padding: 0 0.75rem;
            
            label {
                span {
                    opacity: 0.5;
                }
            }

            textarea {
                width: calc(100% - 10px);
                border: 0;
                border-radius: 0;
                background: transparent;
                font-size: 18px;
                height: 10rem;
                padding: 0;
            }
        }

    }
    
    ion-item {
        margin: -1rem 0 0 -1.75rem !important;
    }
}

// MARGIN DOWN
@-webkit-keyframes marginDown {
  from { margin-top: -2rem }
  to { margin-top: 0 }
}

@keyframes marginDown {
  from { margin-top: -2rem }
  to { margin-top: 0 }
}

.marginDown {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: marginDown;
  animation-name: marginDown;
  animation-duration: .27s;
}

// MARGIN UP
@-webkit-keyframes marginUp {
  from { margin-top: 2rem }
  to { margin-top: 0 }
}

@keyframes marginUp {
  from { margin-top: 2rem }
  to { margin-top: 0 }
}

.marginUp {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: marginUp;
  animation-name: marginUp;
  animation-duration: .27s;
}