<ion-header>

  <ion-title>
    <span *ngIf="!edit">
      {{ element.name.length > 18 ? element.name.substr(0, 18) + '...' : element.name }}
    </span>
    <ion-item *ngIf="edit" class="animated pulse fastest">
      <ion-input type="text" value="{{ element.name }}" [(ngModel)]="element.name"></ion-input>
    </ion-item>
  </ion-title>
  <button *ngIf="!edit" (click)="editMode()">
    <ion-icon name="create" class="bounceIn"></ion-icon>
  </button>

</ion-header>

<ion-content>
  <div>
    <span *ngIf="!edit" class="animated bounceInUp"> {{ element.description }} </span>
    <span *ngIf="edit">
      <!-- delay-250ms -->
      <label for="description" class="animated fadeIn fast">
        <span> Description: </span>
      </label>
      <textarea id="description" type="text" class="marginDown"
        value="{{ element.description }}" [(ngModel)]="element.description">
      </textarea>
    </span>
  </div>
</ion-content>

<ion-footer>
  <ion-navbar>
    <ion-buttons end>
        <button *ngIf="edit" class="animated fadeIn fast"
          ion-button (click)="done()">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>