page-home {
    font-family: 'Roboto Slab';
    // font-family: "Sanchez";
    // font-family: "Teko";
    font-style: normal;

    .content {
        font-size: 24px;

        ion-list {
            border-bottom: 0 !important;
        }

        ion-item-sliding {
            ion-item {
                // padding: 1rem 0;
                padding: 0;
            }
        }

        .deleteArchive, .editArchive, .doneEdit {
            opacity: 0.8;
            border-radius: 3rem;
            ion-icon {
                font-size: 2rem;
            }

        }

        .deleteArchive {
            margin: 1.5rem 0;
            padding: 0 1.05rem;
            background: #FF80AB;
        }

        .editArchive {
            margin: 1.5rem 0;
            padding: 0 0.75rem;
            background: #18FFFF;
        }
        
        .archive {
            font-family: 'Roboto Slab';
            font-weight: 700;
            display: flex;
            padding: 0 0.75rem;
            // margin: -1rem 0 -2rem 0;

            .mainIcon {
                margin-right: 1rem;
                background: #FFD180;
                padding: 0.67rem  1.1rem;
                border-radius: 2rem;
                ion-icon {
                    // font-size: 40px;
                    vertical-align: -0.3rem;
                    opacity: 0.67;
                }
            }

            .info {
                opacity: 0.67;
                font-size: 18px;
                .pFooter {
                    opacity: 0.5;
                    font-size: 14px;
                    margin-top: -0.75rem;
                }
    
                .arrow {
                    vertical-align: -0.57rem;
                    font-size: 16px;
                }
            }

            
            .editArchiveInput {
                display: flex;
                max-height: 40px;
                margin: -0.85rem 0 0 1rem;

                .newArchiveInput {
                    margin: 0 0 0 -1rem;
                    ion-input {
                        font-size: 18px;
                        font-weight: 700;
                        justify-content: center;
                    }
                }

                .doneEdit {
                    margin: 0.87rem 0 0.5rem 0;
                    padding: 0 0.75rem;
                    background: #64FFDA;
                    ion-icon {
                        font-size: 3rem;
                        margin: -0.15rem 0 0 0;
                    }
                }
            }

            .rotate {
                transition: all .17s;
                ion-icon {
                    margin-right: 0.67rem;
                    font-size: 16px;
                    vertical-align: 0.45rem;
                }
                
                &:active {
                    ion-icon {
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .done {
            display: flex;
            align-content: flex-end;
            justify-content: flex-end;
            margin: 3rem 0;
        }

        .files {
            font-family: "Roboto Slab";
            font-weight: 700;
            font-size: 16px;
            text-transform: capitalize;

            .file {
                padding: 2rem 1rem;
                border-bottom: 1px solid #f0f0f0;
                &:last-child {
                    margin-bottom: 2rem;
                }
                
                .p {
                    text-transform: none;
                    font-family: "Roboto Slab";
                    font-weight: 500;
                    opacity: 0.67;
                    margin: 0;
                    font-size: 16px;
                }
            }

        }

        .gray {
            opacity: 0.5;
            text-transform: none;
            font-size: 14px;
            font-weight: 500;
            margin-left: 0.25rem;
        }

        ul {
            margin: 0;
            padding: 0;
        }
    
        li {
            list-style: none;
        }

    }

    .addBtn {
        ion-icon {
            font-weight: 900;
            font-size: 2.7rem;
            margin-right: 0.5rem;
        }
    }

    // itemOpen
    .itemOpen {
        -webkit-animation: itemOpen .27s;
        -moz-animation: itemOpen .27s;
        animation: itemOpen .27s;
        // -webkit-transform-origin: 50% 0%;
        // -moz-transform-origin: 50% 0%;
        // transform-origin: 50% 0%;
    }

    @-webkit-keyframes itemOpen {
        from { 
            margin-top: -2rem;
            opacity: 0;
            transform: rotateY(45deg);
        }
        to { 
            margin-top: 0;
            opacity: 1;
            transform: rotateY(0);
        }
    }

    @-moz-keyframes itemOpen {
        from { 
            margin-top: -2rem;
            opacity: 0;
            transform: rotateY(45deg);
        }
        to { 
            margin-top: 0;
            opacity: 1;
            transform: rotateY(0);
        }
    }

    @keyframes itemOpen {
        from { 
            margin-top: -2rem;
            opacity: 0;
            transform: rotateY(45deg);
        }
        to { 
            margin-top: 0;
            opacity: 1;
            transform: rotateY(0);
        }
    }

    // itemClose
    .itemClose {
        -webkit-animation: itemClose .27s;
        -moz-animation: itemClose .27s;
        animation: itemClose .27s;
        // -webkit-transform-origin: 100% 0%;
        // -moz-transform-origin: 100% 0%;
        // transform-origin: 100% 0%;
    }

    @-webkit-keyframes itemClose {
        from { 
            margin-top: 0;
            opacity: 1;
            transform: rotateY(0);
        }
        to { 
            margin-top: -2rem;
            opacity: 0;
            transform: rotateY(45deg);
        }
    }

    @-moz-keyframes itemClose {
        from { 
            margin-top: 0;
            opacity: 1;
            transform: rotateY(0); 
        }
        to { 
            margin-top: -2rem;
            opacity: 0;
            transform: rotateY(45deg); 
        }
    }
    
    @keyframes itemClose {
        from { 
            margin-top: 0;
            opacity: 1;
            transform: rotateY(0); 
        }
        to { 
            margin-top: -2rem;
            opacity: 0;
            transform: rotateY(45deg); 
        }
    }

}
