<ion-content padding class="content">
  <ion-list no-lines>
    <archives></archives>
  </ion-list>
  
  <!-- here should be files section -->

  <!-- addarchive() -->
  <div class="archive editArchiveInput animated fadeIn">
    <div class="mainIcon">
      <ion-icon name="folder" [ngClass]="!archive ? 'bounceIn' : ''"></ion-icon>
    </div>
    <ion-item class="newArchiveInput">
      <ion-input type="text" placeholder="Name..." [(ngModel)]="archive.name" required></ion-input>
    </ion-item>
  </div>
  <button ion-button class="done" (click)="addArchive(archive)" full round>
    done
  </button>
  <ion-buttons end>
    <button [disabled]="!archive" class="animated fadeIn fast addBtn" ion-button 
      (click)="newArchive()"><ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
</ion-content>

<ion-footer>
  <ion-navbar>
    <ion-title>
      Archives
    </ion-title>
    <ion-buttons end>
      <button class="animated fadeIn fast addBtn" ion-button 
        (click)="newArchive()"><ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>

<!--ul>
    <span *ngFor="let archive of archives">
      <li class="archive animated fadeIn" (click)="archive.id_show = !archive.id_show" id="{{archive.id}}">
        <div class="mainIcon">
          <ion-icon name="folder" [ngClass]="!archive.id_show ? 'bounceIn' : ''"></ion-icon>
        </div>
        <div class="info rotate">
          {{ archive.name }}&nbsp; 
          <span class="fadeIn arrow">
            <ion-icon [name]="archive.id_show ? 'arrow-down' : 'arrow-forward'"></ion-icon>
          </span>
          <p class="pFooter"> !archive.files.length ? 'No' : archive.files.length }} notes </p>
        </div>
      </li>
        <ul *ngIf="archive.id_show" class="files" id="{{ archive.id_show }}">
          <li *ngFor="let file of archive.files" (click)="goToFile(archive.id, file.id)"
            [ngClass]="archive.id_show ? 'itemOpen' : 'itemClose'"
            class="file animated flipInX" id="{{file.id}}">
            <!-- <ion-icon name="paper" class="fastest bounceIn"></ion-icon> 
              [ngClass]="displayContent(i)" <span class="gray">Posted at: 5:46 am</span> ->
            {{ file.name }} <span class="gray"> Posted at 5:46 am </span>
            <p class="p"> {{ file.description.substr(0 , 80) }}
              <!-- <span>
                ... <a (click)="goToFile(archive.id, file.id)"> 
                  {{ file.description.length > 80 ? 'more' :  'add details'}}</a>
              </span> ->
            </p>
          </li>
        </ul>
    </span>
  </ul-->