// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";

// Pathway Gothic One
@font-face {
  font-family: 'Pathway Gothic One';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf');
}

// Roboto Slab
@font-face {
  font-family: 'Roboto Slab';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: light;
  font-weight: 300;
  src: url('../assets/fonts/Roboto_Slab/RobotoSlab-Light.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: thin;
  font-weight: 200;
  src: url('../assets/fonts/Roboto_Slab/RobotoSlab-Thin.ttf');
} 

// Sanchez
@font-face {
  font-family: 'Sanchez';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/Sanchez/Sanchez-Italic.ttf');
}

@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Sanchez/Sanchez-Regular.ttf');
} 

// Teko
@font-face {
  font-family: 'Teko';
  font-style: light;
  font-weight: 300;
  src: url('../assets/fonts/Teko/Teko-Light.ttf');
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Teko/Teko-Regular.ttf');
} 

@font-face {
  font-family: 'Teko';
  font-style: medium;
  font-weight: 400;
  src: url('../assets/fonts/Teko/Teko-Medium.ttf');
} 


// $font-family-base: "Pathway Gothic One";
// $font-family-base: "Sanchez Regular";
// $font-family-base: "Teko Regular";
