<ion-item-sliding *ngFor="let archive of (archivesState | async).archives; let i = index" #item>
  <ion-item>
    <div class="archive">
      
      <!-- Icon -->
      <div class="mainIcon">
        <ion-icon name="folder" [ngClass]="!show ? 'bounceIn' : ''"></ion-icon>
      </div>

      <!-- Name -->
      <div class="info rotate animated fadeIn fastest" *ngIf="!showEdit">
        {{ archive.name }}&nbsp;
        <span class="fadeIn arrow">
          <ion-icon [name]="show ? 'arrow-down' : 'arrow-forward'"></ion-icon>
        </span>
        <p class="pFooter"> 
          <!-- !archive.files.length ? 'No' : archive.files.length }} notes  -->
          No notes yet!
        </p>
      </div>
      
      <!-- Edit -->
      <div class="editArchiveInput animated flipInX fastest" *ngIf="showEdit">
        <ion-item class="newArchiveInput">
          <ion-input type="text" placeholder="Name..." [(ngModel)]="archive.name" required></ion-input>
        </ion-item>
        <button class="doneEdit" (click)="submitEdit(i, archive, $event)">
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </div>

    </div>
  </ion-item>
  <ion-item-options side="right">
    <button class="editArchive" (click)="editMode(i, item)">
      <ion-icon name="create"></ion-icon>
    </button>
    <button class="deleteArchive" (click)="deleteArchive(archive, $event)">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item-options>
</ion-item-sliding>